

@{
    ViewBag.Title = "Index";
}
<script src="~/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#text").html("la referencia a jquery esta funcionando correctamente");
    });
</script>
<h2>Index</h2>
<div id="text">
    la referencia a jquery no esta funcionando
</div>

